.profile__card {
  display: flex;
  align-items: flex-end;
  margin: 0 0 16px 0;
}

@media screen and (min-width:320px) and (max-width:617px) {
  .profile__card {
    margin: 0 38px 8px 65px;
    justify-content: center;
  }
}